body {
    margin: 0;
}

// svg minimap doesn't work with how we replace svgs dynamically so we remove it
.svg-display {
    [role='navigation'] {
        display: none;
    }
}

@font-face {
  font-family: 'TSEVHU';
  //src: url("Tsevhu_Shorthand.ttf");
  //src: url("./assets/tsevhu_minecraft.ttf");
  src: url("./assets/Tsevhu-Regular.otf");
  font-weight: 400;
  font-style: normal;
}